sudo apt update
sudo apt install git mysql-client -y
git clone https://github.com/mohamedelhaouil/Java-Web-Project.git
mysql -h ${rds-endpoint} -u ${dbuser} --password=${dbpass} accounts --ssl-mode=DISABLED < /home/ubuntu/Java-Web-Project/src/main/resources/db_backup.sql